.todolist-parent-container {
    display: flex;
    flex-direction: column;
    border: 1px solid pink;

    .todolist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}